<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <title>Portfolio</title>
  </head>
  <body>
    <div class="frame">
      <div class="main_frame">
        <div class="left_frame">
          <div class="left_1">
            <div class="left_1-1">
              <img src="images/face.jpg" width="156px" height=" 135px" alt="" />
            </div>
            <div class="left_1-2"><%=user.name%></div>
            <div class="left_1-3"><%=user.profession%></div>
            <div class="left_icons">
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/facebook.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/instagram.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/twitter.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/linkedin.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Youtube.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/dribbble.svg" class="icon-1" />
                </div>
              </a>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_2">
            <div class="main_info">
              <div class="info_age">Age:</div>
              <span><%=user.age%></span>
            </div>
            <div class="main_info">
              <div class="info_residence">Residence:</div>
              <span><%=user.residence%></span>
            </div>
            <div class="main_info">
              <div class="info_freelance">Freelance:</div>
              <span style="color: #7eb942">Available</span>
            </div>
            <div class="main_info">
              <div class="info_Adress">Adress:</div>
              <span><%=user.adress%></span>
            </div>
          </div>

          <div class="marginer"></div>
          <div class="left_3">
            <div class="left_language">Languages</div>
            <div class="left_language-1">
              <span><%=user.Languages[0]%></span>
              <span>100%</span>
            </div>
            <div class="prosent">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="222"
                height="6"
                viewBox="0 0 222 6"
                fill="none"
              >
                <rect
                  x="0.75"
                  y="0.75"
                  width="220.5"
                  height="4.5"
                  rx="2.25"
                  stroke="#FFB400"
                  stroke-width="0.5"
                />
                <rect
                  x="2"
                  y="2"
                  width="217"
                  height="2"
                  rx="1"
                  fill="#FFB400"
                />
              </svg>
            </div>
            <div class="left_language-1">
              <span><%=user.Languages[1]%></span>
              <span>80%</span>
            </div>
            <div class="prosent">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="222"
                height="6"
                viewBox="0 0 222 6"
                fill="none"
              >
                <rect
                  x="0.75"
                  y="0.75"
                  width="220.5"
                  height="4.5"
                  rx="2.25"
                  stroke="#FFB400"
                  stroke-width="0.5"
                />
                <rect
                  x="2"
                  y="2"
                  width="208"
                  height="2"
                  rx="1"
                  fill="#FFB400"
                />
              </svg>
            </div>
            <div class="left_language-1">
              <span><%=user.Languages[2]%></span>
              <span>60%</span>
            </div>
            <div class="prosent">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="222"
                height="6"
                viewBox="0 0 222 6"
                fill="none"
              >
                <rect
                  x="0.75"
                  y="0.75"
                  width="220.5"
                  height="4.5"
                  rx="2.25"
                  stroke="#FFB400"
                  stroke-width="0.5"
                />
                <rect
                  x="2"
                  y="2"
                  width="190"
                  height="2"
                  rx="1"
                  fill="#FFB400"
                />
              </svg>
            </div>
          </div>

          <div class="marginer"></div>
          <div class="left_4">
            <span class="skills">Skills</span>
            <div class="left_skills-1">
              <span><%=user.skills[0]%></span>
              <span>90%</span>
            </div>
            <div class="prosent_2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="222"
                height="6"
                viewBox="0 0 222 6"
                fill="none"
              >
                <rect
                  x="0.75"
                  y="0.75"
                  width="220.5"
                  height="4.5"
                  rx="2.25"
                  stroke="#FFB400"
                  stroke-width="0.5"
                />
                <rect
                  x="2"
                  y="2"
                  width="209"
                  height="2"
                  rx="1"
                  fill="#FFB400"
                />
              </svg>
            </div>
            <div class="left_skills-1">
              <span><%=user.skills[1]%></span>
              <span>85%</span>
            </div>
            <div class="prosent_2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="222"
                height="6"
                viewBox="0 0 222 6"
                fill="none"
              >
                <rect
                  x="0.75"
                  y="0.75"
                  width="220.5"
                  height="4.5"
                  rx="2.25"
                  stroke="#FFB400"
                  stroke-width="0.5"
                />
                <rect
                  x="2"
                  y="2"
                  width="207"
                  height="2"
                  rx="1"
                  fill="#FFB400"
                />
              </svg>
            </div>
            <div class="left_skills-1">
              <span><%=user.skills[2]%></span>
              <span>80%</span>
            </div>
            <div class="prosent_2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="222"
                height="6"
                viewBox="0 0 222 6"
                fill="none"
              >
                <rect
                  x="0.75"
                  y="0.75"
                  width="220.5"
                  height="4.5"
                  rx="2.25"
                  stroke="#FFB400"
                  stroke-width="0.5"
                />
                <rect
                  x="2"
                  y="2"
                  width="201"
                  height="2"
                  rx="1"
                  fill="#FFB400"
                />
              </svg>
            </div>
            <div class="left_skills-1">
              <span><%=user.skills[3]%></span>
              <span>75%</span>
            </div>
            <div class="prosent_2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="222"
                height="6"
                viewBox="0 0 222 6"
                fill="none"
              >
                <rect
                  x="0.75"
                  y="0.75"
                  width="220.5"
                  height="4.5"
                  rx="2.25"
                  stroke="#FFB400"
                  stroke-width="0.5"
                />
                <rect
                  x="2"
                  y="2"
                  width="187"
                  height="2"
                  rx="1"
                  fill="#FFB400"
                />
              </svg>
            </div>
            <div class="left_skills-1">
              <span><%=user.skills[4]%></span>
              <span>85%</span>
            </div>
            <div class="prosent_2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="222"
                height="6"
                viewBox="0 0 222 6"
                fill="none"
              >
                <rect
                  x="0.75"
                  y="0.75"
                  width="220.5"
                  height="4.5"
                  rx="2.25"
                  stroke="#FFB400"
                  stroke-width="0.5"
                />
                <rect
                  x="2"
                  y="2"
                  width="207"
                  height="2"
                  rx="1"
                  fill="#FFB400"
                />
              </svg>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_5">
            <span class="extra_skills">Extra scills</span>
            <div class="extra_skills-1">
              <img src="images/Icons.png" alt="" />
              <span><%=user.extra_skills[0]%></span>
            </div>
            <div class="extra_skills-1">
              <img src="images/Icons.png" alt="" />
              <span><%=user.extra_skills[1]%></span>
            </div>
            <div class="extra_skills-1">
              <img src="images/Icons.png" alt="" />
              <span><%=user.extra_skills[2]%></span>
            </div>
            <div class="extra_skills-1">
              <img src="images/Icons.png" alt="" />
              <span><%=user.extra_skills[3]%></span>
            </div>
          </div>
        </div>
        <div class="midd_frame">
          <div class="midd_frame-top">
            <div class="midd_top-left">
              <h3 class="midd_top-header"><%=user.work_place%></h3>
              <div class="midd_top-inform">
                <p class="inform_1"><%=user.service_desc%></p>
              </div>
              <a href="">
                <div class="midd_top-button">
                  <button class="button_1">
                    HIRE ME
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="17"
                      height="17"
                      viewBox="0 0 17 17"
                      fill="none"
                    >
                      <g clip-path="url(#clip0_2_2655)">
                        <path
                          d="M10.8554 7.72765L7.27939 4.15165L8.22206 3.20898L13.4074 8.39432L8.22206 13.5797L7.27939 12.637L10.8554 9.06098H2.74072V7.72765H10.8554Z"
                          fill="#2B2B2B"
                        />
                      </g>
                      <defs>
                        <clipPath id="clip0_2_2655">
                          <rect
                            width="16"
                            height="16"
                            fill="white"
                            transform="translate(0.0742188 0.394531)"
                          />
                        </clipPath>
                      </defs>
                    </svg>
                  </button>
                </div>
              </a>
              <div class="elips">
                <img src="btn_icon/Ellipse 15.png" />
              </div>
              <div class="elips1">
                <img src="btn_icon/Ellipse 16.png" />
              </div>
              <div class="elips3">
                <img src="btn_icon/elips3.png" />
              </div>
              <div class="elips4">
                <img src="btn_icon/Ellipse 4.png" />
              </div>
            </div>
            <div class="photo"></div>
            <img class="face" src="images/face 1.png" alt="" />
            <div class="elips5">
              <img src="btn_icon/elips 5.png" />
            </div>
          </div>
          <div class="midd_frame-bott">
            <div class="midd_top">
              <p>My Services</p>
              <span><%=user.service_desc%></span>
            </div>
            <div class="midd_bott1">
              <div class="bott_service">
                <img class="service_img" src="images/bott1.png" alt="" />
                <p>Web Development</p>
                <span> Blog, E-Commerce</span>
              </div>
              <div class="bott_service">
                <img class="service_img" src="images/bott2.png" alt="" />
                <p>UI/UX Design</p>
                <span>Mobile app, website design</span>
              </div>
              <div class="bott_service">
                <img class="service_img" src="images/bott3.png" alt="" />
                <p>Sound Design</p>
                <span> Voice Over, Beat Making</span>
              </div>
            </div>
            <div class="midd_bott1">
              <div class="bott_service">
                <img class="service_img" src="images/bott3.png" alt="" />
                <p>Game Design</p>
                <span>Character Design, Props & Objects</span>
              </div>
              <div class="bott_service">
                <img class="service_img" src="images/bott4.png" alt="" />
                <p>Photograpy</p>
                <span>Portrait, Product Photography</span>
              </div>
              <div class="bott_service">
                <p>Advertising</p>
                <span>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae
                  nulla diam in ac dictum a urna viverra morbi.</span
                >
                <a href="">order now</a>
              </div>
            </div>
          </div>
        </div>
        <div class="right_frame">
          <div class="right_frame-top">
            <a href=""
              ><img
                id="active"
                class="bott_img-right1"
                src="images/right1.png"
                alt=""
            /></a>
          </div>
          <div class="right_frame-bott">
            <a href="">
              <img class="bott_img-right" src="images/right2.png" alt=""
            /></a>
            <a href="">
              <img class="bott_img-right" src="images/right3.png" alt=""
            /></a>
            <a href="">
              <img class="bott_img-right" src="images/right4.png" alt=""
            /></a>
            <a href="">
              <img class="bott_img-right" src="images/right5.png" alt=""
            /></a>
            <a href="">
              <img class="bott_img-right" src="images/right6.png" alt=""
            /></a>
            <a href="">
              <img class="bott_img-right" src="images/right7.png" alt=""
            /></a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
